<div class="container-fluid footer-section text-center">
    <div>
        <a class="navbar-brand mx-4 my-2" href="#home"><img src="./assets/images/logo2.png" alt="Logo" width="220" height="50" class="d-inline-block align-text-top logo-img"></a>
    </div>
    
    <!-- <a class="navbar-brand mx-4 my-2 footer-logo" href="#home"><h3 class="footer-logo-text">Invoice<span>Genie</span>&#8482;</h3></a> -->
    <a href="https://github.com/OmkarShinde1996/invoice-genie-2.0" target="_blank"><i class="bi bi-github"></i></a>
</div>