<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" href="/"><img src="./assets/images/logo2.png" alt="Logo" width="220" height="50" class="d-inline-block align-text-top logo-img"></a>
        <!-- <a class="navbar-brand mx-4 my-2" href="#home"><h4>Invoice<span>Genie</span></h4></a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="bi bi-columns-gap"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mx-4" aria-current="page" href="/#home">Home</a>
          <a class="nav-link mx-4" href="/#features">Features</a>
          <a class="nav-link mx-4" href="/#steps">Steps</a>
          <a class="nav-link mx-4" href="/#templates">Templates</a>
        </div>
        <a href="#templates" class="btn btn-primary mx-4">Create Invoice</a>
      </div>
    </div>
  </nav>
<!-- /Navbar -->