<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand mx-4" href="/"><img src="./assets/images/logo2.png" alt="Logo" width="220" height="50" class="d-inline-block align-text-top logo-img"></a>
        <!-- <a class="navbar-brand mx-4 my-2" href="#home"><h4>Invoice<span>Genie</span></h4></a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="bi bi-columns-gap"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mx-4" aria-current="page" href="/#home">Home</a>
          <a class="nav-link mx-4" href="/#features">Features</a>
          <a class="nav-link mx-4" href="/#steps">Steps</a>
          <a class="nav-link mx-4" href="/#templates">Templates</a>
        </div>
        <!-- put if condition here -->
        <!-- <div>
          <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel">Login</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="email" class="col-form-label">Email</label>
                      <input type="email" class="form-control form-control-sm" id="email">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="col-form-label">Password</label>
                      <input type="password" class="form-control form-control-sm" id="password">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-sm">Login</button>
                  <button class="btn btn-outline-primary btn-sm" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Sign Up</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel2">Sign up</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="username" class="col-form-label">Username</label>
                      <input type="text" class="form-control form-control-sm" id="username">
                    </div>
                    <div class="mb-3">
                      <label for="email" class="col-form-label">Email</label>
                      <input type="email" class="form-control form-control-sm" id="email">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="col-form-label">Password</label>
                      <input type="password" class="form-control form-control-sm" id="password">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-sm">Sign up</button>
                  <button class="btn btn-outline-primary btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Login</button>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-primary mx-4" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Login/Sign up</a>
        </div> -->
        <!-- /put if condition here -->
        <!-- put else condition here -->
        <i class="bi bi-person-circle mx-4"></i>
        <!-- /put else condition here -->
        <!-- <a href="#templates" class="btn btn-primary mx-4">Create Invoice</a> -->
      </div>
    </div>
  </nav>
<!-- /Navbar -->