
<div class="container py-3 justify-content-center" id="toast_con">
    <div class="success_toast d-none">
        <i class="bi bi-check-circle-fill"></i>
        <span class="toast_text1" id="toast_text1"></span>
        <div class="progress" id="success_progress"></div>
    </div>
    <div class="error_toast d-none">
        <i class="bi bi-exclamation-triangle-fill"></i>
        <span class="toast_text2" id="toast_text2"></span>
        <div class="progress" id="failed_progress"></div>
    </div>
</div>

<div class="container save-and-continue-con py-3 justify-content-around">
    <div class="btn btn-primary mx-4" id="download-as-pdf"><i class="bi bi-filetype-pdf me-2"></i>Download as PDF</div>
    
    <div class="spinner-border text-primary spinner-border-sm d-none" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <i class="bi bi-check-circle-fill d-none" id="check"></i>
    <button type="button" class="btn btn-primary" id="save-btn"><i class="bi bi-file-earmark-check me-2"></i>Save</button>
</div>

