<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./templates/template-css/purpler_basic.css">
    <style>
        .modal-backdrop{
	        --bs-backdrop-bg: #fff;
        }
    </style>
    <link rel="shortcut icon" href="./assets/images/favicon (3).ico" type="image/profile">
    <title>Invoice Genie</title>
</head>

<body id="body">
    <%- include('../partials/navbar.ejs');%>

    <!-- Home -->
    <!-- /Home -->

    <!-- Create invoice -->
    <div class="container text-center justify-content-center mt-5 pt-5" id="make-invoice">
    </div>
    <!-- Create invoice -->
<%if(status == 'loggedIn'){%>
    <!-- main container -->
<form action="/invoiceGenerated" class="pt-4 mt-4" id="form" onsubmit="return validateInputs()">
    <div class="container text-center invoice-form-section">
        <div class="invoice-form">
            <div class="form-container text-center">
                <!-- Invoice title -->
                <div class="invoice-title-container">
                    <span contentEditable="true" class="invoice-title">Invoice</span>
                </div>
                <!-- /Invoice title -->
                <!-- Invoice number, date, logo etc -->
                <div class="container-fluid home-section" id="home">
                    <div class="row row-cols-1 row-cols-lg-2 justify-content-around invoice-info-container">
                        <div class="col">
                            <div class="invoice-details mx-md-4">
                                <div class="invoice-info py-2">
                                    <div class="invoice-number invoice-info-det" id="invoice-number">Invoice No.</div>
                                    <div class="invoice-number-input input-control"><input type="text" value="A00001"
                                            id="invoice-number-value" oninput="getRequiredFields()" required>
                                            <div class="error"></div>
                                    </div>
                                </div>
                                <div class="invoice-info py-2">
                                    <div class="invoice-date invoice-info-det" id="invoice-date">Invoice Date</div>
                                    <div class="invoice-date-input input-control"><input type="date" id="invoice-date-value"
                                            placeholder="Select Data" oninput="getRequiredFields()" required>
                                            <div class="error"></div>
                                    </div>
                                </div>

                                <!-- show when Add Due Date btn clicked -->
                                <div class="invoice-info py-2 d-none" id="due-date-div">
                                    <div class="due-date invoice-info-det" id="due-date">Due Date</div>
                                    <div class="due-date-input"><input type="date" id="due-date-value"></div>
                                </div>
                                <!-- show when Add More Fields btn clicked -->
                                <div id="invoice-info-details"></div>
                                <!-- Buttons -->
                                <div class="invoice-info py-2" id="add-due-date-btn">
                                    <div class="invoice-date invoice-info-det-btn" onclick="showDueDateField()"><i
                                            class="bi bi-plus-circle-fill pe-2"></i><span>Add Due Date</span></div>
                                </div>
                                <div class="invoice-info py-2" id="add-more-fields-btn">
                                    <div class="invoice-date invoice-info-det-btn add-more-fields-btn" onclick="addNewInfoField()"><i
                                            class="bi bi-plus-circle-fill pe-2"></i><span>Add More Fields</span></div>
                                    <div class="invoice-date invoice-info-det-btn d-none" id="remove-info-field"
                                        onclick="removeLastInfoField()"><i
                                            class="bi bi-dash-circle-fill me-2"></i><span>Remove Last Field</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col headImage d-flex justify-content-center">
                            <div class="invoice-logo-container">
                                <div class="invoice-logo">
                                    <img src="../assets/images/image-placeholder1.png" alt="preview-img">
                                </div>
                                <input type="file" class="file-input" accept="image/*" hidden>
                                <div class="btn btn-primary mt-2 logo-btn">Upload logo here<i
                                        class="bi bi-arrow-up-circle ms-3"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Invoice number, date, logo etc -->
                <!-- from to details container -->
                <div class="container-fluid home-section" id="home">
                    <div class="row row-cols-1 row-cols-lg-2 my-0 mx-xs-0 mx-md-2 justify-content-around">
                        <div class="col from-container gy-3">
                            <div class="from text-start mx-md-2 py-sm-2">
                                <h3 contentEditable="true" id="from">From</h3>
                                <div class="from-details pt-2">
                                    <div class="input-control">
                                        <input type="text" value="" placeholder="Your name or Your business name*"
                                        id="from-name" oninput="getRequiredFields()" required>
                                        <div class="error ms-3"></div>
                                    </div>
                                    <input type="text" value="" placeholder="Address" id="from-address">
                                    <input type="text" value="" placeholder="Country" id="from-country">
                                    <div class="city">
                                        <input class="me-4" type="text" value="" placeholder="City" id="from-city">
                                        <input type="text" value="" placeholder="Zip" id="from-zip">
                                    </div>
                                    <input type="text" value="" placeholder="State" id="from-state">
                                    <!-- Email & Phone no. show when btn clicked -->
                                    <input class="d-none" type="email" value="" placeholder="Email Id" id="from-email">
                                    <input class="d-none" type="number" value="" placeholder="Phone Number"
                                        id="from-mobile">
                                    <!-- GST & PAN fields show when btn clicked -->
                                    <input class="d-none" type="text" value="" placeholder="GST No." id="from-gst">
                                    <input class="d-none" type="text" value="" placeholder="PAN No." id="from-pan">
                                    <!-- New field show when btn clicked -->
                                    <div id="add-new-from-field">
                                        <input class="d-none" type="text" value="" placeholder="Text" id="from-text">
                                    </div>
                                    <div class="buttons">
                                        <div class="email-btn invoice-info-det-btn">
                                            <i class="bi bi-envelope-fill pe-2"></i><span id="from-add-email"
                                                onclick="showFromEmailField()">Add Email Id</span>
                                        </div>
                                        <div class="phone-btn invoice-info-det-btn">
                                            <i class="bi bi-telephone-fill pe-2"></i><span id="from-add-phone"
                                                onclick="showFromPhoneField()">Add Phone Number</span>
                                        </div>
                                    </div>
                                    <div class="buttons pb-3">
                                        <div class="email-btn invoice-info-det-btn">
                                            <i class="bi bi-plus-circle-fill pe-2"></i><span id="from-add-gst"
                                                onclick="showFromGstField()">Add GST No.</span>
                                        </div>
                                        <div class="phone-btn invoice-info-det-btn">
                                            <i class="bi bi-plus-circle-fill pe-2"></i><span id="from-add-pan"
                                                onclick="showFromPanField()">Add PAN No.</span>
                                        </div>
                                    </div>
                                    <!-- <div class="custom-field text-center" id="from-add-custom-fields">
                                                <i class="bi bi-plus-circle-fill pe-2"></i><span>Add Custom Fields</span>
                                            </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col to-container gy-3">
                            <div class="to text-start mx-md-2 py-sm-2">
                                <h3 contentEditable="true" id="to">To</h3>
                                <div class="to-details pt-2">
                                    <div class="input-control">
                                        <input type="text" value="" placeholder="Client's name or Client's business name*"
                                        id="to-name" oninput="getRequiredFields()" required>
                                        <div class="error ms-3"></div>
                                    </div>
                                    <input type="text" value="" placeholder="Address" id="to-address">
                                    <input type="text" value="" placeholder="Country" id="to-country">
                                    <div class="city">
                                        <input class="me-4" type="text" value="" placeholder="City" id="to-city">
                                        <input type="text" value="" placeholder="Zip code" id="to-zip">
                                    </div>
                                    <input type="text" value="" placeholder="State" id="to-state">
                                    <!-- Email & Phone no. show when btn clicked -->
                                    <input class="d-none" type="email" value="" placeholder="Email Id" id="to-email">
                                    <input class="d-none" type="number" value="" placeholder="Phone Number"
                                        id="to-mobile">
                                    <!-- GST & PAN fields show when btn clicked -->
                                    <input class="d-none" type="text" value="" placeholder="GST No." id="to-gst">
                                    <input class="d-none" type="text" value="" placeholder="PAN No." id="to-pan">
                                    <!-- New field show when btn clicked -->
                                    <div id="add-new-to-field">
                                        <input class="d-none" type="text" value="" placeholder="Text" id="to-text">
                                    </div>
                                    <div class="buttons">
                                        <div class="email-btn invoice-info-det-btn" onclick="">
                                            <i class="bi bi-envelope-fill pe-2"></i><span id="to-add-email"
                                                onclick="showToEmailField()">Add Email Id</span>
                                        </div>
                                        <div class="phone-btn invoice-info-det-btn">
                                            <i class="bi bi-telephone-fill pe-2"></i><span id="to-add-phone"
                                                onclick="showToPhoneField()">Add Phone Number</span>
                                        </div>
                                    </div>
                                    <div class="buttons pb-3">
                                        <div class="email-btn invoice-info-det-btn">
                                            <i class="bi bi-plus-circle-fill pe-2"></i><span id="to-add-gst"
                                                onclick="showToGstField()">Add GST No.</span>
                                        </div>
                                        <div class="phone-btn invoice-info-det-btn">
                                            <i class="bi bi-plus-circle-fill pe-2"></i><span id="to-add-pan"
                                                onclick="showToPanField()">Add PAN No.</span>
                                        </div>
                                    </div>
                                    <!-- <div class="custom-field text-center" id="to-add-custom-fields">
                                                <i class="bi bi-plus-circle-fill pe-2"></i><span>Add Custom Fields</span>
                                            </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /from to details container -->
            <!-- Options for columns in table -->
            <div class="container-fluid pb-3" id="home">
                <div class="row column-options justify-content-center gy-3">
                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="set-tax">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="set-tax"
                                onchange="taxAllinOne()">
                                <option value="0" selected>Set Tax</option>
                                <option value="1">GST</option>
                                <option value="2">VAT</option>
                                <option value="3">PPN</option>
                                <option value="4">SST</option>
                                <option value="5">HST</option>
                                <option value="6">TAX</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <div class="set-currancy">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                id="set-currancy">
                                <option selected>Select Currancy</option>
                                <option value="1">--Comming Soon--</option>
                                <!-- <option value="2">Two</option>
                                    <option value="3">Three</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start mx-3">
                    <div class="gst">
                        <div class="form-check text-start d-none">
                            <input class="mx-2 radio" type="radio" id="cgst" name="fav_language" value="CGST"><label
                                class="radio" for="cgst">CGST</label>
                        </div>
                        <div class="form-check text-start d-none">
                            <input class="mx-2 radio" type="radio" id="sgst" name="fav_language" value="SGST"
                                checked><label class="radio" for="sgst">SGST</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Options for columns in table -->

            <!-- Table -->
            <div class="container table-responsive table-container justify-content-around py-2">
                <table class="table">
                    <thead class="table-dark">
                        <tr class="column-header">
                            <th class="text-start" scope="col">#</th>
                            <th class="text-start" scope="col" id="items-head">Item/Item Description</th>
                            <th class="text-start" scope="col" id="quantity-head">Quantity</th>
                            <th class="text-start" scope="col">Rate(&#8377;)</th>
                            <th class="text-start" scope="col">Amount(&#8377;)</th>
                        </tr>
                    </thead>
                    <tbody class="table-row">

                    </tbody>
                </table>


            </div>
            <!-- /Table -->
            <!-- Add new line btn -->
            <div class="container text-center justify-content-around d-none" id="notification-con">
                <small id="notification" style="font-size: 11px; color: red;">Add atleast one item in your invoice</small>
            </div>
            <div class="container text-center justify-content-around">
                <div class="add-new-line">
                    <div class="custom-field text-center" id="add-new-item-line" onclick='addRow()'>
                        <i class="bi bi-plus-circle-fill pe-2"></i><span>Add New Line</span>
                    </div>
                </div>
            </div>
            <!-- Add new line btn -->
            <!-- Add/Delete Row/Column buttons -->
            <div class="container text-center justify-content-center py-2">
                <div class="row gy-2 justify-content-center mx-1">
                    <div class="col-10 col-sm-6 col-md-4">
                        <div class="set-tax mx-1">
                            <div class="button-column" id="add-column" onclick='addCol()'>Add Column</div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6 col-md-4">
                        <div class="set-tax mx-1">
                            <div class="button-column" id="delete-column" onclick='deleteCol()'>Delete Column</div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-6 col-md-4">
                        <div class="set-tax mx-1">
                            <div class="button-column" id="delete-line" onclick='addDeleteButtons()'>Delete Line</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Add/Delete Row/Column buttons -->
            <!-- total and invoice notes container -->
            <div class="container-fluid total-invoice-con home-section">
                <div class="row row-cols-1 row-cols-lg-2 my-0 mx-xs-0 mx-md-2 justify-content-between">
                    <div class="col invoice-notes-container gy-3">
                        <div class="custom-field-container text-center my-2" id="add-bank-details"
                            onclick="showBankDetails()">
                            <i class="bi bi-plus-circle-fill pe-2"></i><span>Add Bank Details</span>
                        </div>
                        <!-- Bank details -->
                        <div class="bank-details-con text-start d-none" id="bank-details-con">
                            <h3 class="pb-2" id="bank-details">Bank Details</h3>
                            <div class="bank-details mx-md-4 justify-content-start">
                                <div class="invoice-info py-2">
                                    <div class="account-name bank-info-det"><span>Account Holder Name</span></div>
                                    <div class="account-name-input"><input type="text" value="Omkar Shinde"
                                            id="account-name"></div>
                                </div>
                                <div class="invoice-info py-2">
                                    <div class="account-number bank-info-det">Account Number</div>
                                    <div class="account-number-input"><input type="text" value="5443565453635454"
                                            id="account-number"></div>
                                </div>
                                <div class="invoice-info py-2">
                                    <div class="account-ifsc bank-info-det">IFSC</div>
                                    <div class="account-ifsc-input"><input type="text" value="SBIN0004557"
                                            id="account-ifsc"></div>
                                </div>
                                <div class="invoice-info py-2">
                                    <div class="account-type bank-info-det">Account Type</div>
                                    <div class="account-type-input"><input type="text" value="Savings"
                                            id="account-type">
                                    </div>
                                </div>
                                <div class="invoice-info py-2">
                                    <div class="bank-name bank-info-det">Bank Name</div>
                                    <div class="bank-name-input"><input type="text" value="SBI Bank" id="bank-name">
                                    </div>
                                </div>
                                <div class="invoice-info py-2">
                                    <div class="upi-id bank-info-det">UPI ID</div>
                                    <div class="upi-id-input"><input type="text" value="fooler@okicici" id="upi-id">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Terms and conditions -->
                        <div class="custom-field-container text-center my-2" id="add-terms-conditions"
                            onclick="showTermsConditions()">
                            <i class="bi bi-plus-circle-fill pe-2"></i><span>Add Terms & Conditions</span>
                        </div>
                        <div class="terms-con text-start d-none" id="terms-con">
                            <h3 class="pb-2" id="terms">Terms & Conditions</h3>
                            <!-- <div class="conditions" contentEditable="true" id="terms-conditions">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae blanditiis quas eius,
                                        voluptate.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae blanditiis quas eius,
                                        voluptate.</p>
                                </div> -->
                            <textarea name="terms_conditions" id="terms-conditions" cols="30" rows="10"></textarea>
                        </div>
                        <!-- Additional notes -->
                        <div class="custom-field-container text-center my-2" id="add-additional-notes"
                            onclick="showAdditionalNotes()">
                            <i class="bi bi-plus-circle-fill pe-2"></i><span>Add Additional Notes</span>
                        </div>
                        <div class="additional-notes-con text-start d-none" id="additional-notes-con">
                            <h3 class="pb-2" contentEditable="true" id="additional-notes">Additional Notes</h3>
                            <!-- <p contentEditable="true" id="tersm-and-conditions">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae blanditiis quas eius,
                                    voluptate, obcaecati expedita dolor at esse modi nemo quaerat aliquam sint soluta.
                                    Placeat officia eligendi atque incidunt nam?</p> -->
                            <textarea name="additional-notes" id="additional-notes-text-area" cols="30"
                                rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col total-amount-container gy-3">
                        <div class="total-tax-container text-center pb-3">

                        </div>
                        <!-- sub total container -->
                        <div class="sub-total-container text-center pb-3">
                            <div class="sub-total-text" id="sub-total">
                                <h3 id="sub-total-text">Sub Total</h3>
                            </div>
                            <div class="sub-total-amount">
                                <span class="h4">&#8377;<span id="sub-total-amount">0</span></span>
                            </div>
                        </div>
                        <!-- discount container -->
                        <div class="discount-container text-center pb-3 d-none" id="discount-con">
                            <div class="discount-text" id="discount">
                                <h3 id="discount-text">Discount(&#8377;)</h3>
                            </div>
                            <div class="discount-amount">
                                <span class="h4">-&#8377;<input type="number" class="discount-amount-edit"
                                        id="discount-amount" value="0" oninput="calculateSubTotal()"></input></span>
                            </div>
                        </div>
                        <div class="custom-field-container text-center" id="discount-on-total"
                            onclick="showDiscountDiv()">
                            <i class="bi bi-plus-circle-fill pe-2"></i><span>Give Discount</span>
                        </div>
                        <hr>
                        <!-- Total container -->
                        <div class="total-container text-center">
                            <div class="total-text" id="total-text">
                                <h3 id="total">Total</h3>
                            </div>
                            <div class="total-amount">
                                <span class="h4">&#8377;<span id="total-amount">0</span></span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- /total and invoice notes container -->
            <!-- Save and continue button -->
            <div class="container save-and-continue-con py-3">
                <input class="btn btn-primary mx-4" role="button" id="save-btn" tabindex="-1"
                    aria-disabled="true" onclick="allInOnePack()" type="submit" value="Save & continue">
            </div>
            <!-- Save and continue button -->
        </div>
    </div>
</form>
    <!-- /main container -->
    <%}else{%>
    <!-- try button -->
    <div class="container-fluid ready-section text-center">
        <div class="text">
            <h1 class="heading heading1 display-5 h1">
                Login to edit your Invoices!
            </h1>
        </div>
    </div>
    <!-- /try button -->
    <%}%>
    <hr>
    <!-- footer -->
    <%- include('../partials/footer.ejs');%>
    <!-- /footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="../assets/js/home.js"></script>
    <script src="../assets/js/editFillData.js"></script>
    <script src="../assets/js/calculations.js"></script>
    <script src="../assets/js/calculateData.js"></script>
    <script src="../assets/js/images.js"></script>
</body>

</html>